<!DOCTYPE html>
<html>
  <head>
    <title>RubyCrudStore</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div class="container">
	  	<ul class="nav nav-pills">
		  <li role="presentation" class="active"><a href="#">Home</a></li>
		  <li role="presentation"><a href="#">Products</a></li>
		  <li role="presentation"><a href="#">Cart</a></li>
		</ul>
  	
    	<%= yield %>
	</div>
  </body>
</html>
